basics/Node-RED_Flows/Lab 4.json
[{"id":"94cd081.f80fff8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"d4ce804c.333218","type":"inject","z":"94cd081.f80fff8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.2","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":280,"wires":[["ced22072.f8ea9","417d4efb.129148","7d247669.850f78"]]},{"id":"ced22072.f8ea9","type":"file in","z":"94cd081.f80fff8","name":"Chassis Speeds","filename":"/tmp/thetadot","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":400,"y":320,"wires":[["a0a8023f.72ca38"]]},{"id":"f28577d1.413028","type":"ui_gauge","z":"94cd081.f80fff8","name":"","group":"aca30183.6cb728","order":0,"width":0,"height":0,"gtype":"gage","title":"Robot Voltage","label":"Volts","format":"{{value}}","min":0,"max":"13","colors":["#00b500","#e6c700","#ca3838"],"seg1":"","seg2":"","x":620,"y":220,"wires":[]},{"id":"417d4efb.129148","type":"file in","z":"94cd081.f80fff8","name":"Robot Diagnostics","filename":"/tmp/Voltage_File","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":410,"y":220,"wires":[["f28577d1.413028"]]},{"id":"7d247669.850f78","type":"file in","z":"94cd081.f80fff8","name":"Chassis Speeds","filename":"/tmp/xdot","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":400,"y":280,"wires":[["31d558b9.542da8"]]},{"id":"31d558b9.542da8","type":"ui_chart","z":"94cd081.f80fff8","name":"","group":"b6f6598.0e73028","order":2,"width":0,"height":0,"label":"Forward Velocity (m/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":640,"y":280,"wires":[[]]},{"id":"a0a8023f.72ca38","type":"ui_chart","z":"94cd081.f80fff8","name":"","group":"b6f6598.0e73028","order":3,"width":0,"height":0,"label":"Angular Velocity (rad/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":650,"y":320,"wires":[[]]},{"id":"aca30183.6cb728","type":"ui_group","name":"Robot Diagnostics","tab":"6c40f57a.176724","order":1,"disp":true,"width":"6","collapse":false},{"id":"b6f6598.0e73028","type":"ui_group","name":"Chassis Speeds","tab":"6c40f57a.176724","order":2,"disp":true,"width":"6","collapse":false},{"id":"6c40f57a.176724","type":"ui_tab","name":"Lab 4","icon":"dashboard","order":4,"disabled":false,"hidden":false}]