basics/Node-RED_Flows/Lab 5.json
[{"id":"cd7412f9.3443f","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"e56b9f37.07d638","type":"inject","z":"cd7412f9.3443f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.2","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":320,"wires":[["7e9f28ad.82c38","3cc742ef.537666","8b0b5f06.2d854","67398ca7.1da4cc","8192ee24.9be728"]]},{"id":"7e9f28ad.82c38","type":"file in","z":"cd7412f9.3443f","name":"Chassis Speeds","filename":"/tmp/thetadot","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":440,"y":360,"wires":[["9b562d2.1ec625"]]},{"id":"3510515e.9445ee","type":"ui_gauge","z":"cd7412f9.3443f","name":"","group":"357dbae.99fec46","order":0,"width":0,"height":0,"gtype":"gage","title":"Robot Voltage","label":"Volts","format":"{{value}}","min":0,"max":"13","colors":["#00b500","#e6c700","#ca3838"],"seg1":"","seg2":"","x":660,"y":260,"wires":[]},{"id":"3cc742ef.537666","type":"file in","z":"cd7412f9.3443f","name":"Robot Diagnostics","filename":"/tmp/Voltage_File","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":450,"y":260,"wires":[["3510515e.9445ee"]]},{"id":"8b0b5f06.2d854","type":"file in","z":"cd7412f9.3443f","name":"Chassis Speeds","filename":"/tmp/xdot","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":440,"y":320,"wires":[["ea2a30bb.e2c2f8"]]},{"id":"ea2a30bb.e2c2f8","type":"ui_chart","z":"cd7412f9.3443f","name":"","group":"263014b3.b3847c","order":2,"width":0,"height":0,"label":"Forward Velocity (m/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"25","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":680,"y":320,"wires":[[]]},{"id":"9b562d2.1ec625","type":"ui_chart","z":"cd7412f9.3443f","name":"","group":"263014b3.b3847c","order":3,"width":0,"height":0,"label":"Angular Velocity (rad/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"25","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":690,"y":360,"wires":[[]]},{"id":"8192ee24.9be728","type":"file in","z":"cd7412f9.3443f","name":"Wheel Speeds","filename":"/tmp/PDR","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":440,"y":440,"wires":[["db2b7d79.555c1"]]},{"id":"67398ca7.1da4cc","type":"file in","z":"cd7412f9.3443f","name":"Wheel Speeds","filename":"/tmp/PDL","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":440,"y":400,"wires":[["8a81cd.42957e3"]]},{"id":"8a81cd.42957e3","type":"ui_chart","z":"cd7412f9.3443f","name":"","group":"93376eff.7c99a8","order":2,"width":0,"height":0,"label":"Left Wheel (rad/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"25","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":670,"y":400,"wires":[[]]},{"id":"db2b7d79.555c1","type":"ui_chart","z":"cd7412f9.3443f","name":"","group":"93376eff.7c99a8","order":3,"width":0,"height":0,"label":"Right Wheel (rad/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"25","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":670,"y":440,"wires":[[]]},{"id":"357dbae.99fec46","type":"ui_group","name":"Robot Diagnostics","tab":"69d446b1.048568","order":1,"disp":true,"width":"6","collapse":false},{"id":"263014b3.b3847c","type":"ui_group","name":"Chassis Speeds","tab":"69d446b1.048568","order":2,"disp":true,"width":"6","collapse":false},{"id":"93376eff.7c99a8","type":"ui_group","name":"Wheel Speeds","tab":"69d446b1.048568","order":3,"disp":true,"width":"6","collapse":false},{"id":"69d446b1.048568","type":"ui_tab","name":"Lab 5","icon":"dashboard","order":5,"disabled":false,"hidden":false}]