basics/Node-RED_Flows/Lab2_Flow.json
[{"id":"d17abe40.8941e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e0cd485e.2aae8","type":"inject","z":"d17abe40.8941e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.2","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":260,"wires":[["6fee0047.aac59"]]},{"id":"6fee0047.aac59","type":"file in","z":"d17abe40.8941e","name":"b","filename":"/tmp/Voltage_File","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":310,"y":340,"wires":[["340b6f9e.bb6238"]]},{"id":"340b6f9e.bb6238","type":"ui_gauge","z":"d17abe40.8941e","name":"","group":"ab4b92f9.9642e","order":0,"width":0,"height":0,"gtype":"gage","title":"Robot Voltage","label":"Volts","format":"{{value}}","min":0,"max":"13","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":560,"y":340,"wires":[]},{"id":"ab4b92f9.9642e","type":"ui_group","name":"b","tab":"f083978e.fe5cf","order":2,"disp":true,"width":"6","collapse":false},{"id":"f083978e.fe5cf","type":"ui_tab","name":"Lab2","icon":"dashboard","order":1,"disabled":false,"hidden":false}]