SCUTTLE-Basics/Node-RED_Flows/Lab 6.json
[{"id":"27beeddb.950b02","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"bedd521f.b06168","type":"inject","z":"27beeddb.950b02","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.2","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":320,"wires":[["a6452b0e.0f484","e791e892.5eefe","b6429f28.d493f8","dc7ca656.8b9fb8"]]},{"id":"a6452b0e.0f484","type":"file in","z":"27beeddb.950b02","name":"Compass Readings","filename":"/tmp/angle","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":490,"y":400,"wires":[["297d4bcd.bdbd6c"]]},{"id":"e791e892.5eefe","type":"file in","z":"27beeddb.950b02","name":"Distance","filename":"/tmp/distance","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":460,"y":280,"wires":[["d16242cb.8cadf8"]]},{"id":"297d4bcd.bdbd6c","type":"ui_gauge","z":"27beeddb.950b02","name":"","group":"acafd0fa.eb0ee","order":0,"width":0,"height":0,"gtype":"compass","title":"Angle","label":"Degree","format":"{{value}}","min":"-180","max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":400,"wires":[]},{"id":"d16242cb.8cadf8","type":"ui_chart","z":"27beeddb.950b02","name":"","group":"2fcdbc59.359564","order":0,"width":0,"height":0,"label":"Distance (m)","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff7f0e","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":650,"y":280,"wires":[[]]},{"id":"b6429f28.d493f8","type":"file in","z":"27beeddb.950b02","name":"Compass Readings","filename":"/tmp/x","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":490,"y":320,"wires":[["8ddc9960.3ac2c8"]]},{"id":"8ddc9960.3ac2c8","type":"ui_chart","z":"27beeddb.950b02","name":"","group":"63fe077d.19cc88","order":0,"width":0,"height":0,"label":"X - coordinates","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":700,"y":320,"wires":[[]]},{"id":"dc7ca656.8b9fb8","type":"file in","z":"27beeddb.950b02","name":"Compass Readings","filename":"/tmp/y","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":490,"y":360,"wires":[["7baf11bb.13ad48"]]},{"id":"7baf11bb.13ad48","type":"ui_chart","z":"27beeddb.950b02","name":"","group":"63fe077d.19cc88","order":0,"width":0,"height":0,"label":"Y - coordinates","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":700,"y":360,"wires":[[]]},{"id":"acafd0fa.eb0ee","type":"ui_group","name":"Angle","tab":"10b3fc48.5a74d4","order":2,"disp":true,"width":"6","collapse":false},{"id":"2fcdbc59.359564","type":"ui_group","name":"Distance","tab":"10b3fc48.5a74d4","order":1,"disp":true,"width":"6","collapse":false},{"id":"63fe077d.19cc88","type":"ui_group","name":"Coordinates","tab":"10b3fc48.5a74d4","order":3,"disp":true,"width":"6","collapse":false},{"id":"10b3fc48.5a74d4","type":"ui_tab","name":"Lab 6","icon":"dashboard","order":6,"disabled":false,"hidden":false}]