SCUTTLE-Basics/Node-RED_Flows/Lab3.json
[{"id":"d17abe40.8941e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e0cd485e.2aae8","type":"inject","z":"d17abe40.8941e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.2","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":260,"wires":[["6fee0047.aac59","52813a23.a57fbc","d4e368b8.d80478"]]},{"id":"6fee0047.aac59","type":"file in","z":"d17abe40.8941e","name":"Compass Readings","filename":"/tmp/compass_heading","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":350,"y":340,"wires":[["fc9165da.3857d8"]]},{"id":"340b6f9e.bb6238","type":"ui_gauge","z":"d17abe40.8941e","name":"","group":"824a7ffe.a1686","order":0,"width":0,"height":0,"gtype":"gage","title":"Robot Voltage","label":"Volts","format":"{{value}}","min":0,"max":"13","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":560,"y":180,"wires":[]},{"id":"52813a23.a57fbc","type":"file in","z":"d17abe40.8941e","name":"Robot Diagnostics","filename":"/tmp/Voltage_File","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":350,"y":180,"wires":[["340b6f9e.bb6238"]]},{"id":"9d5d46fb.b8d1e","type":"ui_text","z":"d17abe40.8941e","group":"27fa0c6e.f6cd84","order":0,"width":0,"height":0,"name":"","label":"Cardinal Direction","format":"{{msg.payload}}","layout":"col-center","x":570,"y":300,"wires":[]},{"id":"fc9165da.3857d8","type":"ui_gauge","z":"d17abe40.8941e","name":"","group":"27fa0c6e.f6cd84","order":0,"width":0,"height":0,"gtype":"compass","title":"Compass Heading","label":"Degree","format":"{{value}}","min":"-180","max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":340,"wires":[]},{"id":"d4e368b8.d80478","type":"file in","z":"d17abe40.8941e","name":"Compass Readings","filename":"/tmp/compass_direction","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":350,"y":300,"wires":[["9d5d46fb.b8d1e"]]},{"id":"824a7ffe.a1686","type":"ui_group","name":"Robot Diagnostics","tab":"8eb228d8.c39a6","order":1,"disp":true,"width":"6","collapse":false},{"id":"27fa0c6e.f6cd84","type":"ui_group","name":"Compass Readings","tab":"8eb228d8.c39a6","order":2,"disp":true,"width":"6","collapse":false},{"id":"8eb228d8.c39a6","type":"ui_tab","name":"Lab 3","icon":"dashboard","order":2,"disabled":false,"hidden":false}]